<!doctype html>
<html lang="en">

<head>
    <title>Bài thi</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/img/iconGDU.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/take_exam.css">
    <link rel="stylesheet/less" type="text/css" href="/css/less/style.less">
    <link rel="stylesheet/less" type="text/css" href="/css/less/navs.less">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="/mathjax/MathJax.js?config=MML_SVG-full"></script>
    <style>
        p {
            display: inline;
        }
    </style>
</head>

<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1"
        style="padding: 5px;background-color: #002f69">
        <a class="navbar-brand" href="#"><b>Gia Dinh University</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar">
                    <a class="nav-link p-0" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="http://graph.facebook.com/<%=user.facebook.id%>/picture?type=square" onerror="this.onerror=null;this.src='/img/student.png';"
                            id="imageid" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                        aria-labelledby="navbarDropdownMenuLink-55">
                        <button type="button" class="dropdown-item" onclick="logout('<%= user.student_code %>')">Đăng
                            xuất</button>
                    </div>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" style="display: none;width:100%;margin-top: 2%;"
                        data-toggle="modal" data-target="#myModal" id="btn_tien_do">Tiến độ</button>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    <div class="container-fluid" >
        <div class="row" >
            <div class="col-md-12 col-lg-9" id="lam_bai_thi">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" onclick="goHome()" style="width: 100%;" class="btn btn-primary">Quay lại trang chủ</button>
                    </div>
                    <!-- <div class="col-sm-4">
                        <button type="button" onclick="justShowCorrect()" style="width: 100%;"
                            class="btn btn-primary">Chỉ hiện đáp án đúng</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" onclick="showBoth()" style="width: 100%;" class="btn btn-primary">Hiện đáp
                            án mình chọn</button>
                    </div> -->
                </div>
                <h4 class="text-center"><b>BÀI THI</b></h4>
                <div id="noi_dung_thi">

                </div>

            </div>

            <div class="col-md-12 col-lg-3" id="thong_tin_bai_thi">
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="text-center"><b>Thông bài thi</b></h5>
                    </div>
                </div>
                <div>
                    <p style="float: left;margin-bottom: 5px;">Họ tên:</p>
                    <p style="float: right;margin-bottom: 5px;"><%= user.full_name %></p>
                    <div style="clear: both;"></div>
                </div>
                <div>
                    <p style="float: left;margin-bottom: 5px;"> Môn học:</p>
                    <p style="float: right;margin-bottom: 5px;" id="mon_hoc"></p>
                    <div style="clear: both;"></div>
                </div>

                <div>
                    <p style="float: left;margin-bottom: 5px;"> Ngày làm:</p>
                    <p style="float: right;margin-bottom: 5px;" id="ngay_lam"></p>
                    <div style="clear: both;"></div>
                </div>

                <div>
                    <p style="float: left;margin-bottom: 5px;"> Thời gian:</p>
                    <p style="float: right;margin-bottom: 5px;" id="thoi_gian"></p>
                    <div style="clear: both;"></div>
                </div>

                <div class="row">
                    <div class="col-sm-12" id="thong_tin_tien_do">
                        <h5 class="text-center">Tiến độ</h5>
                        <div id="dem_cau_tl">
                            <p style="float: left;margin-bottom: 5px;" id="soCauLam"></p>
                            <p style="float: right;margin-bottom: 5px;" id="tongCauHoi"></p>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="tiendo">
                            <table style="display: contents;"
                                class="table table-striped table-inverse table-responsive">
                                <tbody id="tien_do">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center" id="bam_nop_bai"></div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <b>
                            <div class="text-center" id="tongDiem"></div>
                        </b>
                    </div>
                </div>

            </div>
        </div>
        <input type="hidden" id="btnLogout">
        <div id="editor"></div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width: 280px;">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8">
                            Tiến độ:
                            <div id="soCauLam2" style="display: inline-block;"></div>
                            <div id="tongCauHoi2" style="display: inline-block;"></div>
                        </div>
                        <div class="col-sm-2">

                        </div>
                    </div>
                    <div class="modal-body">

                        <div id="tien_do2" class="tiendo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <input type="hidden" id="myListMarks" value="<%=markList%>" />
    <input type="hidden" id="myMarksReview" value="<%=marksReview%>" />
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/business/home.js"></script>
    <script src="/text/createPDF.js"></script>
    <script src="/business/reviewExam.js"></script>
    <script src="/js/jspdf.min.js"></script>
    <script>
        
        var marksList = JSON.parse(myListMarks.value);
        var marksReview = JSON.parse(myMarksReview.value);
        //console.log(marksList);
        //console.log(marksReview);
        if (marksList == "modeReview") {
            createExamHTMLForTrainning(marksReview.examData, marksReview.listAnswer);
            noi_dung_thi.innerHTML = html;
            tien_do.innerHTML = htmlTienDo;
            tien_do2.innerHTML = htmlTienDo;
            bam_nop_bai.innerHTML = `<button type="button" class="btn btn-primary" style="width: 100%;background-color:#214a80" id="nop_bai">Nộp bài</button>`
            soCauLam2.innerHTML = `0 /`

            gradingExam(marksReview.examData)
        }
        else {
            var examCodeReview = localStorage.getItem("examCodeReview");
            //console.log(examCodeReview)
            
            marksList.forEach(mark => {
                //console.log(mark)
                if (mark.examData.exam_code == examCodeReview) {
                    createExamHTMLForTrainning(mark.examData, mark.listAnswer);

                    noi_dung_thi.innerHTML = html;
                    tien_do.innerHTML = htmlTienDo;
                    tien_do2.innerHTML = htmlTienDo;
                    bam_nop_bai.innerHTML = `<button type="button" class="btn btn-primary" style="width: 100%;background-color:#214a80" id="nop_bai">Nộp bài</button>`
                    soCauLam2.innerHTML = `0 /`

                    gradingExam(mark.examData)
                }
            });
        }
        document.getElementById("myListMarks").remove();
        document.getElementById("myMarksReview").remove();
    </script>
</body>

</html>